<div class='container'>
	<h2 class='text-center mb-4 text-light'>Vista de productos</h2>
	{{#if productExists}}
		<table class='table table-danger'>
			<thead>
				<tr>
					<th scope='col'>Producto</th>
					<th scope='col'>Precio</th>
					<th scope='col'>Foto</th>
				</tr>
			</thead>
			<tbody>
				{{#each products}}
					<tr>
						<td>{{this.title}}</td>
						<td>{{this.price}}</td>
						<td>
							<img
								style='width: 50px; height: auto'
								src='{{this.thumbnail}}'
								alt='products'
							/>
						</td>
					</tr>
				{{/each}}
			</tbody>
		</table>
	{{else}}
		<div class='alert alert-info' role='alert'>
			No hay productos disponibles, agrega uno haciendo click <a href='/api/productos/agregar' class='alert-link'>aqui</a>
		</div>
	{{/if}}
	<a href='/api/' class='btn btn-dark'>Volver al inicio</a>
</div>