<div class='d-flex flex-column justify-content-center align-items-center'>
	<h1 class='text-center mb-4 text-light'>Bienvenido a la API de Productos</h1>
	<div>
		<a href='/api/productos/vista' class='btn btn-primary'>LISTADO DE PRODUCTOS</a>
		<a href='/api/productos/agregar' class='btn btn-primary'>AGREGAR PRODUCTO</a>
	</div>
</div>